<nav id="menu">
    <h3>Menu</h3>
    <ul>
        <li><a href='?page=index'>Home</a></li>
        <li><a href='?page=about'>A propos</a></li>
        <li><a href='?page=image'>Photos</a></li>
        <?php if(empty($_SESSION['ROLE'])) { ?>
        <li><a href="?page=session">Connexion</a></li>
        <li><a href="?page=session&action=registerform">Inscription</a></li>
        <?php } else { ?>
        <li><a href="?page=session&action=logout">Déconnexion</a></li>
        <?php } if(isset($menu) && !empty($menu)) {
            foreach($menu as $key => $value) {
                echo '<li><a href=\''.$value.'\'>'. $key .'</a></li>';
            }
        } ?>
    </ul>
</nav>