<style>
    article {
        width: 100%;
        text-align: center;
    }
    input {
        display: block;
        margin: auto;
        width: 70%;
    }
    figure > img {
        width: 299px;
        height: 225px;
    }
</style>
<section>
    {{result}}
</section>
<article>
    <h1>Modification des informations de l'image</h1>
    <h3>Image ID : {{Image.id}}</h3>
    <figure>
        <img src="http://localhost/tp1/assets/images/{{Image.url}}" alt="Erreur de chargement de l'image" />
    </figure>
    <form method="POST" action="?page=admin&action=editImage&imageId={{Image.id}}">
        <input type="text" name="comment" value="{{Image.comment}}" placeholder="{{Image.comment}}" required />
        <input type="text" name="category" value="{{Image.category}}" placeholder="{{Image.category}}" required />
        <input type="submit" value="Enregistrer" />
    </form>
</article>
