<section>
    <p>
        <a href="?page=image&action=previous">Prev</a>
        <a href="?page=image&action=next">Next</a>
    </p>
</section>
<section>
    <ul>
        <li><a href="{{first}}">Première image</a></li>
        <li><a href="{{random}}">Aléatoire</a></li>
        <li><a href="{{more}}">Plus d'images</a></li>
        <li><a href="{{less}}">Moins d'images</a></li>
        <li><a href="{{zoom +}}">Zoom +</a></li>
        <li><a href="{{zoom -}}">Zoom -</a></li>
    </ul>
</section>
<section>
    <div class="select-category">
        <form method="post" action="?page=image&action=category">
            <p>
                <label for="category">Choisissez une catégorie</label><br />
                <select name="category" id="category">
                    {{options}}
                </select>
            </p>
            <input type="submit">
        </form>
    </div>
</section>
<section>
    <div class="card-deck">
        {{images}}
    </div>
</section>
