<div class="card">
    <img class="card-img-top" src="http://localhost/tp1/assets/images/{{Image.url}}" alt="Loading problem">
    <div class="card-block">
        <h4 class="card-title">#{{Image.id}}</h4>
        <p class="card-text">{{Image.comment}}</p>
        <p class="card-text"><small class="text-muted">Catégorie : <span class="tag tag-info">{{Image.category}}</span></small></p>
        <a href="?page=admin&action=editImage&imageId={{Image.id}}" class="btn btn-primary">Modifier</a>
        <a href="?page=admin&action=removeImage&imageId={{Image.id}}" class="btn btn-primary">Supprimer</a>
    </div>
</div>
