<div class="card">
    <img class="card-img-top" src="{{app_assets}}images/{{Image.url}}" alt="Loading problem">
    <div class="card-block">
        <h4 class="card-title">#{{Image.id}}</h4>
        <p class="card-text">{{Image.comment}}</p>
        <p class="card-text"><i class="fa fa-tag" aria-hidden="true"></i> <span class="tag tag-info">{{Image.category}}</span></p>
        <div>
            <a href="?page=image&action=vote&id={{Image.id}}&display={{display}}&stars=1"><i class="fa fa-star-o" aria-hidden="true"></i></a>
            <a href="?page=image&action=vote&id={{Image.id}}&display={{display}}&stars=2"><i class="fa fa-star-o" aria-hidden="true"></i></a>
            <a href="?page=image&action=vote&id={{Image.id}}&display={{display}}&stars=3"><i class="fa fa-star-o" aria-hidden="true"></i></a>
            <a href="?page=image&action=vote&id={{Image.id}}&display={{display}}&stars=4"><i class="fa fa-star-o" aria-hidden="true"></i></a>
            <a href="?page=image&action=vote&id={{Image.id}}&display={{display}}&stars=5"><i class="fa fa-star-o" aria-hidden="true"></i></a>
             Note : {{Image.stars}}
        </div>
        <div>
            <p style="margin: 0;">
                Ajouter à un album :
                <a href="?page=album&action=addToAlbum&image={{Image.id}}">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </p>
        </div>
        <div>
            <a href="?page=admin&action=removeImage&imageId={{Image.id}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            <a href="?page=admin&action=editImage&imageId={{Image.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
