<section>
    <p>
        <a href="?page=pictures&imgId=<?php echo $prevImgId; ?>&size=<?php echo $size; ?>">Prev</a>
        <a href="?page=pictures&imgId=<?php echo $nextImgId; ?>&size=<?php echo $size; ?>">Next</a>
    </p>
</section>
<?php
foreach($img as $article)
{
    $imgUrl = $article->getUrl();
?>
    <article>
        <figure>
            <a href="?page=pictures&zoom=<?php echo $zoom; ?>&imgId=<?php echo $imgId; ?>&size=<?php echo $size; ?>">
                <img src="http://localhost/tp1/assets/images/<?php echo $imgUrl; ?>" width="<?php echo $size; ?>">
            </a>
            <figcaption>
                <?php echo $article->getComment(); ?>
            </figcaption>
        </figure>
        <section>
            Catégorie : <?php echo $article->getCategory(); ?>
        </section>
    </article>
<?php } ?>