<section>
    <p>
        <a href="?page=image&action=previous">Prev</a>
        <a href="?page=image&action=next">Next</a>
    </p>
</section>
<?php
foreach($data->getImages() as $image)
{
?>
    <article>
        <figure>
            <a href="?page=image">
                <img src="http://localhost/tp1/assets/images/<?php echo $image->getUrl(); ?>" width="<?php echo $data->getSize(); ?>">
            </a>
            <figcaption>
                <?php echo $image->getComment(); ?>
            </figcaption>
        </figure>
        <section>
            Catégorie : <?php echo $image->getCategory(); ?>
        </section>
    </article>
<?php } ?>